*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%; /*To set the width of the background image*/
    height: 100vh; /*To set the height of the background image*/
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(public/ship2.jpg);
                       /*linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) TO FADE OFF THE BACKGROUND IMAGE*/
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%; /* To set the width of the navbar*/
    margin: auto;
    padding: 35px 0; /*To set the padding top and padding right*/
    display: flex;
    align-items: center;
    justify-content: space-between; /* To seperate the logo image and the navbar wordings*/
}

.logo {
    width: 70px; /* To set the width of the logo*/
    cursor: pointer; /*To make the cursor a pointer when on top of logo*/
    height: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block; /*To make the nav words appear left to right horizontally instead of top to bottom vertical*/
    margin: 0 20px; /*To set the margins between the navbar wordings*/
    position: relative;
}

.navbar ul li a {
    text-decoration: none; /*To remove the underline under the words that were there due to <a> tags in html */
    color: #fff; /* To determine the color of the navbar wordings*/
    text-transform: uppercase; /* To put all the words in navbar into uppercase*/
}

.navbar ul li::after{
    content: ''; /* To make the underline appear*/
    height: 3px; /*To set the width of the line*/
    width: 0; /*To set the width of the underline to zero so that the line can disappear and only appear on hover*/
    background: #009688; /*To set the color of the underline*/
    position: absolute;
    left: 0; /*To set the space of the underline from left*/
    bottom: -10px; /*To set the space of the underline from bottom*/
    transition: 0.8s; /*To set the speed the underline should appear at*/
}

.navbar ul li:hover:after {
    width: 100%; /*To set the width of the underline to zero so that the line can disappear and only appear on hover.
                    NOTE: IF you put 100px, the line will go beyond*/

}

.content {
    width: 100%; /*To set the width of the wordings on the Homepage image*/
    position: absolute;
    top: 50%;  /*To set the space from top of the wordings on the Homepage image*/
    transform: translateY(-10%); /*a 2d translation which moves an element on the y-axis by the given value. 
                    Note that the y-axis increases vertically downwards: positive lengths shift the element down, while negative lengths shift it up.*/
    text-align: center;  /*To center the position of the wordings on the Homepage image*/
    color: #fff;  /*To set the color of the wordings on the Homepage image*/
}

.content h1 {
    font-size: 60px;
    margin-top: 20px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-top: 5px;
}

button {
    width: 200px; 
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;  
    height: 50px;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.8s;
}
.btn{
    background: #017143;

}

button:hover span{
    width: 100%;
}

button:hover {
    border: none;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container .textBox {
    position: relative;
    max-width: 600px;
}

.container .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;

}

.span1 {
    color: #017143;
    font-size: 1.0em;
    font-weight: 900;
    justify-content: center;
}
.container .textBox p {
    color: #333;
}

.content1 .textBox a {
    display: inline-block;
}

.container .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.container .imgBox img {
    max-width: 540px;
    height: 500px;
}

/*------------------------Services section---------------------------*/
#services {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(public/star.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h2 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 50px;

}

#services h2::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 0;
}

/*To set the details and create a circle around the icons*/
.icon{
    font-size: 40px; /*To set the font weight of the icon*/
    margin: 20px auto; /*To set margin between the card text and the icon*/
    padding: 20px; /*To set the area around an icon when inside the circle*/
    height: 80px; /* To set the height of the circle and make it appear as a circle*/
    width: 80px; /* To set the width of the circle and make it appear as a circle*/
    border: 1px solid #fff; /*To set the color, the border and border color of the circles around the icons */
    border-radius: 50%; /*Set at 50% to make the bounderies circular*/
}

#services p {
    font-size: 14px; /*To set the font size of paragraphs*/
    margin-top: 20px; /*To set the margins of paragraphs*/
    margin-left: 4px; /*To set the margins of paragraphs*/
    margin-right: 4px; /*To set the margins of paragraphs*/
    color: #ccc;
}


/* To set the hover effect on the cards */
#services .col-md-3:hover { /*SELECT THE ENTIRE CARD */
    background: #095172; /* To set the color of the hover*/
    cursor: pointer; /*To make cursor change to pointer when on hover */
    transition: 0.9s; /*To set the speed of the hover effect */
    border-radius: 10%; /* To set the corners of the hover boxes */
}

/*-----------------About Section-------------------*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(59, 58, 58);
}

#btn11 {
    margin-top: 20px; /* Margin of button from top */
    margin-bottom: 30px; /* Margin of button from bottom */
    border-radius: 20px;  /* Box radius of the button */
}

.about-content {
    padding-top: 20px; /* Margin of paragraph from top  */
}

.skills-bar p {
    margin-top: 6px; /* Margins of the progress bars */
    font-weight: 600; /* Weight of the progress bars headings */
}

.progress-bar {
    border-radius: 16px; /*To set the border radius inside the progress bars */
}

.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
}